
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveData</title>
</head>
<body>
    
    <div>
        <form action="/RegisterCustomer/SaveData" method="post">
            <table border="1" bgcolor="#00FF00" height="300" width="300">
                <tr>
                    <td>Your Name</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Email Address</td>
                    <td><input type="text" name="emailid" /></td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td><input type="text" name="contactno" /></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" name="city" /></td>
                </tr>
                @*<tr>
                    <td>State</td>
                    <td><input type="text" name="state" /></td>
                </tr>*@
                <tr>
                    <td>Country</td>
                    <td><input type="text" name="country" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Click to Register" /></td>
                </tr>
            </table>
            @ViewBag.result
        </form>
    </div>
</body>
</html>